* {
    line-height: 1.5;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

#logo {
    width: 55px; 
    vertical-align: middle;
}

#menu li {
    display: inline-block;
    font-size: 55px;
}

#menu {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(105, 105, 105);
}
#menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 30px;
}

#menu a:hover,
#menu a:focus,
#menu a:active {
    background-color: #756158;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: white;
    margin: 0;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

.space {
    margin-right: 100px;
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic; 
}

header {
    background-image: url(head.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px 30px;
}