* {
    line-height: 1.5;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

a {
    font-style: italic;
}

#logo {
    width: 30px; 
    vertical-align: middle;
}

#menu li {
    display: inline-block;
    font-size: 30px;
}

#menu {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #282425;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #080300;
}
#menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

#menu a:hover,
#menu a:focus,
#menu a:active {
    background-color: #756158;
}

.space {
    margin-right: 100px;
}

h1,
h2, 
h3 {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

h1,
h2 {
    font-style: italic;
}

h2,
a {
    color: #756158;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 48px;
    text-align: center;
    margin-top: 0;
}

h3 {
    margin: 0;
    font-size: 40px;
}

header {
    background-image: url(head.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 150px 30px;
    margin: 0;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

#hlava-404 {
    padding: 120px 20px;
}

#konec {
    background-color: #282425;
    color: white;
    text-align: center;
    padding: 20px 0;
}

section {
    padding: 50px 15% 50px 15%;
}

#weby {
    background-color: #fff1e6;
}

#weby h2 {
    text-align: center;
}

#seznam-webu {
    text-align: center; 
    padding-right: 250px;
}

#seznam-webu li{
    font-size: 30px;
}