* {
    line-height: 1.5;
    margin: 0;
}

#fenci-hlava {
    text-align: center;
    font-size: 40px;
    background-image: url(obrazky/fenek_foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 160px 30px;
    color: rgb(196, 153, 12);
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 80px;
}

#menu li {
    display: inline-block;
    font-size: 55px;
}

#menu {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 196, 0);
}
#menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 30px;
}

#menu a:hover,
#menu a:focus,
#menu a:active {
    background-color: rgb(179, 137, 1);
}

#logo {
    width: 55px; 
    vertical-align: middle;
}

#galerie {
    text-align: center;
    background-color: rgb(255, 155, 23);
}

h2 {
    font-size: 48px;
    text-align: center;
    margin-top: 0;
}

.obrazek-fenka {
    width: 32%;
    border: 2px solid #756158;
    border-radius: 10px;
}

section {
    padding: 50px 15% 50px 15%;
}

.space {
    margin-right: 100px;
}